body {
  margin: 0;
  min-width: 320px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  font-size: 0;
}

header {
  background: #eee;
}
footer {
  background: #eee;
}
aside {
  background: #ddd;
}
main {
  background: #fff;
}
