body {
  margin: 0;
  min-width: 320px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  font-size: 0;
}

header {
  background: #eee;
}
footer {
  background: #eee;
}
aside {
  background: #ddd;
}
main {
  background: #fff;
}
._src_row_style__schachtelRow {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}
._src_grid_style__schachtelGrid {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}
