body {
  margin: 0;
  min-width: 320px;
}


._demo_style__grid {
  box-shadow: 0 0 0 0.5px;
  background-clip: content-box;
  background-color: rgba(255,0,0,0.1);
  max-width: 960px;
  margin: auto;
}

._demo_style__row {
  box-shadow: 0 0 0 0.5px;
  background-clip: content-box;
  background-color: rgba(0,255,0,0.1);
}

._demo_style__column {
  min-height: 50px;
  box-shadow: 0 0 0 0.5px;
  background-clip: content-box;
  background-color: rgba(0,0,255,0.1);
}

h4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}._src_grid_style__schachtelGrid {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}
._src_row_style__schachtelRow {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}
